## ERROR 404 page
ErrorDocument 404 /404.php


## REDIRECT OLD PAGES
Redirect 301 boka-tid.php /tidsbokning/
Redirect 301 welcome.php /start/


## REWRITE DEFAULTS
RewriteEngine On
RewriteBase /


## REMOVE TRAILING SLASHES
RewriteRule (.*)/$ $1 [L,R=301]

## SEO REWRITES
RewriteRule ^om-oss/?$ om-oss.php [NC,L]
RewriteRule ^tidsbokning/?$ tidsbokning.php [NC,L]
RewriteRule ^patientavgifter/?$ patientavgifter.php [NC,L]
RewriteRule ^kontakt/?$ kontakt.php [NC,L]
RewriteRule ^lediga-jobb/?$ lediga-jobb.php [NC,L]
RewriteRule ^vardval-stockholm/?$ vardval-stockholm.php [NC,L]

RewriteRule ^start/?$ start.php [NC,L]
RewriteRule ^about/?$ about.php [NC,L]
RewriteRule ^appointments/?$ appointments.php [NC,L]
RewriteRule ^patient-fees/?$ patient-fees.php [NC,L]
RewriteRule ^contact/?$ contact.php [NC,L]
RewriteRule ^choose-doctor/?$ choose-doctor.php [NC,L]
