.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container--full {
  max-width: em(1100);
  margin: 0 auto;

  &.bg {
    background-color: $color-bg;
  }
}


