.page-error {
  text-align: center;
  padding: $gutterXL $gutter;

  h1 {
    font-weight: bold;
  }
}

.error-link {
  margin: $gutter auto;
  display: inline-block;
  max-width: 150px;

  @include at-query($min, $mq-medium) {
    max-width: none;
  }

  img {
    width: 100%;
    display: block;
  }
}