.site-header {
    background-color: $color-bg;
    text-align: center;
    padding: 10px 0;

    @include at-query($min, $mq-medium) {
      padding: 20px 0;
    }

    @include at-query($min, $mq-large) {
      padding: 30px 0;
    }

    @include at-query($min, $mq-xl) {
      padding: 45px 0;
    }
}

.site-logo {
  width: 120px;
  display: block;
  margin: 0 auto;

  @include at-query($min, $mq-small) {
    width: 145px;
  }

  @include at-query($min, $mq-large) {
    width: 165px;
  }

  @include at-query($min, $mq-xl) {
    width: 200px;
  }

  img {
      width: 100%;
      display: block;
      border: none;
  }
}
