.main {
  padding: ($gutter / 2) ($gutter - 10) $gutter;
  margin-bottom: 200px;
  @include clearfix();

  @include at-query($min, $mq-small) {
    padding-top: 5%;
    padding-bottom: 15%;
    margin-bottom: 130px;
  }

  @include at-query($min, $mq-large) {
    padding-top: 3%;
    margin-bottom: 0;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  @include at-query($min, $mq-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-content {
  @include at-query($min, $mq-medium) {
    float: left;
    width: 60%;
    padding-right: $gutter;
  }

  @include at-query($min, $mq-medium) {
    padding-right: $gutterS * 2;
  }

  @include at-query($min, $mq-xl) {
    padding-right: $gutterXL;
  }
}

.page-img {
  width: 75%;
  margin: $gutter auto 0;

  @include at-query($min, $mq-medium) {
    float: left;
    width: 40%;
    margin-top: $gutter / 3;
  }

  img {
    width: 100%;
    display: block;
  }
}

.staff {
  background-color: lighten($color-purple, 57);
  list-style-type: none;
  padding: $gutterS $gutterS ($gutterS / 2);
  margin-left: 0;
  margin-bottom: $gutter;

  li {
    margin-bottom: 10px;
  }
}

.large {
  font-size: 200%;
  margin-bottom: $gutter / 2;

  a {
    color: $color-purple;
  }
}

.price-list {
  overflow: hidden;

  @include at-query($min, $mq-large) {
    width: 50%;
    float: left;
    padding-right: $gutter;
  }

  dl {
    margin-bottom: $gutter;
    width: 100%;
  }

  h3 {
    margin-bottom: 0;
  }

  small {
    clear: both;
  }
}