.nav-container {
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}

.nav-toggler {
  padding: 5px $gutterS 8px $gutterS;
  background: $color-main url($menu) no-repeat 19px center;

  button {
    color: $color-nav;
    background-color: transparent;
    border: none;
    font-size: $body-font-size;
    padding: 5px 20px 4px 31px;
    cursor: pointer;
    vertical-align: middle;
  }

  @include at-query($min, $mq-large) {
    display: none;
  }
}

.site-nav {
  background-color: $color-main;

  ul {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
      overflow-y: hidden;

      .js & {
        max-height: 0;
      }

      @include transition(max-height 0.5s linear);

      &.open {
        max-height: 800px;
      }

      @include at-query($max, $mq-large) {
        text-align: left;
      }

      @include at-query($min, $mq-large) {
        text-align: center;

        .js & {
          max-height: none;
        }
      }
  }

  li {
      @include at-query($min, $mq-large) {
        display: inline-block;
        margin-left: -5px;
      }
  }
}

.site-nav-link {
  display: block;
  padding: ($gutterS / 2) ($gutterS / 2) ;
  color: $color-nav;
  text-decoration: none;
  border-top: 1px dotted #5e1b5f;

  @include at-query($min, $mq-large) {
    display: inline-block;
    padding-top: ($gutterS - 2px);
    padding-bottom: ($gutterS - 2px);

    &:hover,
    &:focus,
    .active & {
        background-color: $color-purple-dark;
        color: $color-nav;
        @include transition(background-color 0.3s ease-in);
    }
  }

  @include at-query($min, $mq-xl) {
    padding-right: $gutterS;
    padding-left: $gutterS;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .active & {
      background-color: $color-purple-dark;
      color: $color-nav;
  }
}

.icon-flag {
  background-position: 10px 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  padding-left: $gutter + 15px;

  &.flag--eng {
    background-image: url($flag-eng);
    top: 1px;
  }

  &.flag--swe {
    background-image: url($flag-swe);
    top: 2px;
  }

  @include at-query($min, $mq-large) {
    width: 22px;
    height: 16px;
    display: inline-block;
    position: relative;
    left: 14px;
    background-position: top center;
    padding: 0;

    span {
      @include visuallyHidden;
    }
  }
}
